<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--HandlerMapping : 해당 주소와 클래스를 연결해주는 역할 -->
	<bean id="handlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/board/*.do">boardController</prop>
			</props>
		</property>
	</bean>
	
	<!--해당 주소와 함수를 연결해주는 역할 -->
	<bean id="propertiesMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="mappings">
			<props>
				<prop key="/board/write.do">boardWrite</prop>
			</props>
		</property>
	</bean>
	
	<bean id="boardController" class="com.java.board.controller.BoardController">
		<property name="methodNameResolver" ref="propertiesMethodNameResolver"/>
	</bean>
</beans>
